@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* Google Fonts */

:root {
     --font-family: "Inter", sans-serif;
     --background_color_page: #fbfaff;
     --background_color_cards: #ffffff;
     --background_color_tertiary: #f1ebff;
     --background_color_primary: #8a4ff7;
     --background_color_secondary: #e1d1ff;
     --font_color_primary: #2b2b2b;
     --font_color_secondary: #6b6b6b;
     --font_color_tertiary: #632ade;
     --font_color_quaternary: #360c72;
     --font_size_tiny: 14px;
     --font_size_small: 16px;
     --font_size_medium: 18px;
     --h3_font_size_small: 20px;
     --h3_font_size_large: 24px;
     --h2_font_size_small: 30px;
     --h2_font_size_large: 40px;
     --font_weight_bold: 700;
     --font_weight_medium: 600;
     --font_weight_regular: 400;

}

/* Reset */
* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

/* Global Styles */
html {
     background-color: var(--background_color_page);
     font-family: var(--font-family);
}


main {

     width: 90%;
     margin: 0 auto;
}

@media screen and (min-width: 1030px) {
     main {
          width: 100%;
     }
}

a,
button {
     text-decoration: none;
     border: none;
     background: none;

}

h2 {
     text-align: center;
     font-size: var(--h2_font_size_small);
     font-weight: var(--font_weight_bold);
     transition: all 0.3s ease;
     padding: 32px 0 32px;
     color: var(--font_color_primary);
}

h3 {
     font-size: var(--h3_font_size_small);
     font-weight: var(--font_weight_medium);
     transition: all 0.3s ease;
     color: var(--font_color_primary);
}

p {
     font-size: var(--font_size_small);
     font-weight: var(--font_weight_regular);
     line-height: 1.5;
     color: var(--font_color_secondary)
}

@media screen and (min-width: 992px) {
     h2 {
          font-size: var(--h2_font_size_large);
          transition: all 0.3s ease;
     }

     h3 {
          font-size: var(--h3_font_size_large);
          transition: all 0.3s ease;
     }

     p {
          font-size: var(--font_size_medium);
          transition: all 0.3s ease;
     }
}

.center {
     display: flex;
     flex-direction: column;
     align-items: center;
     max-width: 1024px;
}

.learnMore--btn {
     color: var(--font_color_quaternary);
     font-size: var(--font_size_small);
     letter-spacing: 0.5px;
     padding: 14px 0px;
     display: flex;
     align-items: center;
}

.learnMore--btn span {
     font-weight: var(--font_weight_bold);
}

.learnMore--btn span:hover {
     text-decoration: underline;
}

@media screen and (min-width: 768px) {
     .learnMore--btn {
          display: inline-flex;
     }
}
/**************Header ****************/
.header {
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     height: 83px;
     margin-bottom: 32px;
     background-color: red;
     position: sticky;
     top: 0;
     z-index: 1;
}
.header--left,
.header--right {
     display: flex;
}


.header--logo{
     width: 140px;
     height: 37px;
}
.header--logo img{
     width: 100%;
     height: 100%;
     object-fit: contain;
}

/********* benifices section *********/

.benefice--container {
     display: flex;
     flex-direction: column;
     gap: 16px;
     padding: 16px;


}

@media screen and (min-width: 768px) {
     .benefice--container {
          flex-direction: row;

     }
}

.benefice--card {
     flex: 1;
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     gap: 16px;
     background-color: var(--background_color_cards);
     border-radius: 16px;
     padding: 24px;
     transition: all 0.3s ease;
}


@media screen and (min-width: 768px) {
     .benefice--card:hover {
          transform: translateY(-4px);
          transition: all 0.3s ease;
     }

     .benefice--card:hover .benefice--icon {
          fill: var(--font_color_secondary);
          stroke: var(--font_color_secondary);
     }
}


.benefice--icon {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     background-color: var(--background_color_tertiary);
     width: 62px;
     height: 62px;
     padding: 16px;
     border-radius: 8px;
     fill: var(--font_color_tertiary);
     stroke: var(--font_color_tertiary);
}


/********* pay section ************/
.pay--card {
     display: flex;
     flex-direction: column;
     align-items: center;
     background-color: var(--background_color_cards);
     border-radius: 16px;
     margin-bottom: 48px;
}

.pay--card:last-child {
     margin-bottom: 0;
}

.pay--card--img {
     flex: 1;
     max-width: 420px;
     max-height: 280px;
}

.pay--card--img img {
     width: 100%;
     object-fit: cover;
     padding: 21px 18px;
}


.pay--card--text {
     flex: 1;
     display: flex;
     flex-direction: column;
     gap: 24px;
     padding: 16px;
}

@media screen and (min-width: 768px) {
     .pay--card {
          flex-direction: row;
     }

     .pay--card__qr {
          flex-direction: row-reverse;
     }

     .pay--card--img {
          max-width: 475px;
          max-height: 325px;
     }


     .pay--card--img img:hover {
          transform: scale(1.05);
          transition: all 0.3s ease;
     }
}